/* You can add global styles to this file, and also import other style files */
button {
  border-radius: 3px;
  border: none;
  background-color: #c1645e;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

body{
  font-family: sans-serif;
  background-color: #d6dde8;
}